.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chatHeader,
.messageEntry {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.messageList {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
