.chatItem {
  padding: 10px;
  cursor: pointer;
  border-radius: 1rem;
}

.chatItem:hover {
  background-color: #f0f0f0;
}

.chatListPanel {
  flex: 0 0 250px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 10px;
}
